@model MyTrucksViewModel

@{
    ViewBag.Title = "My Trucks";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>My Added Trucks</h4>

@if (!Model.AddedTrucks.Any())
{
    <h2 class="text-center">You have no added trucks!</h2>
}

<div class="row">
    @foreach (var truck in Model.AddedTrucks)
    {
        @await Html.PartialAsync("~/Views/Shared/_TruckPartial.cshtml", truck)
        ;
    }
</div>

<h4>My Trucks</h4>

@if (!Model.SoldTrucks.Any())
{
    <h2 class="text-center">You have no trucks!</h2>
}

<div class="row">
    @foreach (var truck in Model.SoldTrucks)
    {
        @await Html.PartialAsync("~/Views/Shared/_TruckPartial.cshtml", truck)
    }
</div>