@model IEnumerable<CarHomeModel>
@{
    ViewData["Title"] = "Home Page";
    bool first = true;

}

@if (Model.Count() == 0)
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">You can find your car here!</h1>
        <p class="lead">
            There are no cars here yet!
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Car" asp-action="Add" class="btn btn-primary btn-lg"
           role="button">Add Car</a>
            }
        </p>
    </div>
}



<div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Car Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@car.Model</h5>                
            </div>

            <form>
                <a class="btn btn-primary" asp-controller="Car" asp-action="Details"
               asp-route-id="@car.Id">@car.Model</a>
            </form>
        </div>
    }
</div>